<div class="leaderboard-container">
    <a class="fullscreen-button" (click)="fullscreen()">
        <fa-icon icon="expand" fixedWidth="true"></fa-icon>
        <span>Fullscreen</span>
    </a>
    <section>
        <div class="leaderboard__logo">
            <span class="nouss__logo"></span>
        </div>
    </section>
    <div class="leaderboard">
        <h1>
            <svg class="ico-cup">
                <use xlink:href="#cup"></use>
            </svg>
            Ranking
        </h1>
        <ol>
            <li *ngFor="let entry of leaderboard.entries">
                <mark>{{ entry.name }}</mark>
                <span>{{ entry.value }}</span>
            </li>
        </ol>
    </div>
</div>

