<div class="leaderboard-container">
    <button (click)="fullscreen()">fullscreen</button>
    <section>
        <div class="leaderboard__logo">
            <span class="nouss__logo"></span>
        </div>
    </section>
    <div class="leaderboard">
        <h1>
            <svg class="ico-cup">
                <use xlink:href="#cup"></use>
            </svg>
            Teams Leaderboard
        </h1>
        <ol>
            <li *ngFor="let entry of leaderboard.entries">
                <mark>{{ entry.name }}</mark>
                <span>{{ entry.value }}</span>
            </li>
        </ol>
    </div>
</div>

